
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  .navbar-custom{
    background-color: #001220;
  }
  body {
    background-color: #131316;
    color:#ffffff;
    font-family: 'popins',sans-serif;
    padding: 0;
    margin:0;

  }

  #fullpage{
    background-image: url(layered-waves-haikei.svg);
  }

  .fa-heart{
    color:red;
}

  section{
    display: grid;
    place-items: center;
    align-content: top;
    min-height:100vh;
  }

  .hidden{
    opacity:0; 
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  #para{
    text-align: center;

  }
