.navbar-custom{
    background-color: #001220;
  }


body{
    background-image: url(./stacked-waves-haikei.svg);
    height: 100vh;
    z-index: -2;
}

.overlay{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    z-index: -1;
}

#fullpage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 35%;
    background-color: rgba(0,0,0,0.4);
    padding: 25px;
    border-radius: 25px;
    border-width: 5px;
    border-color: #44CFCB;
}

#roomID{
    color: white;
}

label{
    color: white;
}

#username{
    border-radius: 25px;
}